.lineContent{
    max-width:100%;
    flex-grow:0;
    display: flex;
    direction: row;
    gap:4px;
    align-items: left;
}

.lineInfo{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position:absolute;
    left: 1.4em;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.spacer50{
    height:50%;
}

.spacer75{
    height:68%;
}

.middleAligned{
    height:50%;
    justify-content: left;
}


.shiftpdown{
    margin-top: 0.2em;
}

.homeCell-content{
    position:relative;
    overflow-x: visible;
    flex-grow:0;
}

.w300px{
    width:500px;
}

.cellContent{
    max-width: 100%;
    width:100%;
    height:100%;
    justify-content: flex-end;
}

.stretchFlex{
    display: flex;
    flex-direction:column;
    align-items: stretch;  
    justify-content: space-between;
    height:100%;
}

.a1linegradientV{
  background: linear-gradient(180deg,white 0%, white 50%, white 54%, #F2EFE5 65%, #B0D2DE 100%); 
  background-size: 100% 350%;   
  background-position: 0% 0%;  
  transition: background-position 0.5s ease;
}

.a1linegradientV:hover{
  background-position: 0% 100%;  
}

.a1linegradientH{
  background: linear-gradient(270deg, #B0D2DE 0%,  #F2EFE5 45%, white 50%, white 60%, white 100%); 
  background-size: 350% 100%;   
  background-position: 0% 0%;  
  transition: background-position 0.5s ease;
}

.a1linegradientH:hover{
  background-position: 100% 0%;  
}


.a2linegradientV{
  background: linear-gradient(180deg,white 0%, white 50%, #F2EFE5 54%, #FF76A2 90%, #613B38 100%); 
  background-size: 100% 350%;   
  background-position: 0% 0%;  
  transition: background-position 0.5s ease;
}

.a2linegradientV:hover{
  background-position: 0% 100%;  
}

.a2linegradientH{
  background: linear-gradient(90deg,white 0%, white 50%, #F2EFE5 54%, #FF76A2 90%, #613B38 100%);   
  background-size: 350% 100%;   
  background-position: 0% 0%;  
  transition: background-position 0.5s ease;
}

.a2linegradientH:hover{
  background-position: 100% 0%;  
}

.a3linegradientV{
  background: linear-gradient(180deg,white 0%, white 50%, #DFCDFE 60%, #E7303A 90%, #613B38 100%); 
  background-size: 100% 350%;   
  background-position: 0% 0%;  
  transition: background-position 0.5s ease;
}

.a3linegradientV:hover{
  background-position: 0% 100%;  
}

.a3linegradientH{
  background: linear-gradient(90deg,white 0%, white 50%, #DFCDFE 60%, #E7303A 90%, #613B38 100%);   
  background-size: 350% 100%;   
  background-position: 0% 0%;  
  transition: background-position 0.5s ease;
}

.a3linegradientH:hover{
  background-position: 100% 0%;  
}

.a4linegradientV{
  background: linear-gradient(180deg,white 0%, white 50%,  #F2EFE5 70%, #DFCDFE 100%);   
  background-size: 100% 350%;   
  background-position: 0% 0%;  
  transition: background-position 0.5s ease;
}

.a4linegradientV:hover{
  background-position: 0% 100%;  
}

.a4linegradientH{
  background: linear-gradient(90deg,white 0%, white 50%, #F2EFE5 70%, #DFCDFE 100%);   
  background-size: 350% 100%;   
  background-position: 0% 0%;  
  transition: background-position 0.5s ease;
}

.a4linegradientH:hover{
  background-position: 100% 0%;  
}
