.lineContent{
    max-width:100%;
    flex-grow:0;
    display: flex;
    direction: row;
    gap:4px;
    align-items: left;
}

.lineInfo{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position:absolute;
    left: 1.4em;
}

.homeCell-content{
  pointer-events: none;
}
.spacer50{
    height:50%;
}

.spacer75{
    height:68%;
}

.middleAligned{
    height:50%;
    justify-content: left;
}


.shiftpdown{
    margin-top: 0.2em;
}

.homeCell-content{
    position:relative;
    overflow-x: visible;
    flex-grow:0;
}

.w300px{
    width:500px;
}

.cellContent{
    max-width: 100%;
    width:100%;
    height:100%;
    justify-content: flex-end;
}

.stretchFlex{
    display: flex;
    flex-direction:column;
    align-items: stretch;  
    justify-content: space-between;
    height:100%;
}

.a1linegradientV{
  background: linear-gradient(180deg,white 0%, white 50%, white 54%, #F2EFE5 65%, #B0D2DE 100%); 
  background-size: 100% 400%;   
  animation: gradientmove 6s ease infinite;

}


.a1linegradientH{
  background: linear-gradient(270deg, #B0D2DE 0%,  #F2EFE5 45%, white 50%, white 60%, white 100%); 
  background-size: 400% 100%;   
  animation: gradientmoveH 7s ease infinite;


}


.a2linegradientV{
  background: linear-gradient(180deg,white 0%, white 50%, #F2EFE5 54%, #FF76A2 90%, #613B38 100%); 
  background-size: 100% 400%;   
  animation: gradientmove 8s ease infinite;

}


.a2linegradientH{
  background: linear-gradient(90deg,white 0%, white 50%, #F2EFE5 54%, #FF76A2 90%, #613B38 100%);   
  background-size: 400% 100%;   
  animation: gradientmoveH 10s ease infinite;
}



.a3linegradientV{
  background: linear-gradient(180deg,white 0%, white 50%, #DFCDFE 60%, #E7303A 90%, #613B38 100%); 
  background-size: 100% 400%;   
  animation: gradientmove 10s ease infinite;

}



.a3linegradientH{
  background: linear-gradient(90deg,white 0%, white 50%, #DFCDFE 60%, #E7303A 90%, #613B38 100%);   
  background-size: 400% 100%;   
  animation: gradientmoveH 7s ease infinite;
}


.a4linegradientV{
  background: linear-gradient(180deg,white 0%, white 50%,  #F2EFE5 70%, #DFCDFE 100%);   
  background-size: 100% 400%;   
  animation: gradientmove 9s ease infinite;

}


.a4linegradientH{
  background: linear-gradient(90deg,white 0%, white 50%, #F2EFE5 70%, #DFCDFE 100%);   
  background-size: 400% 100%;   
  animation: gradientmoveH 8s ease infinite;

}



@keyframes gradientmove {
    0% {
        background-position: 0% 0%; 
    }
    50% {
        background-position: 0% 100%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}

@keyframes gradientmoveH {
    0% {
        background-position: 0% 0%; 
    }
    50% {
        background-position: 100% 0%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}

@media (max-width: 576px) {
  /*grid displaying/hiding*/
  /* type size */
}

@media (max-width: 768px) {
  /*grid displaying/hiding*/
  /* type size */

.c3{
    display: none;
  }
.c4{
    display: none;
  }
.c5{
    display: none;
  }
.c6{
    display: none;
  } 
.c7{
    display: none;
  }  
  .xs-cell.c8{
    width:5%;
    background-color: red;
  }
  .m-cell.c9{
    width:90%;
  }

}

@media (max-width: 992px) { 
  /*grid displaying/hiding*/
  /* type size */

.c1{
    display: none;
  }
.c2{
    display: none;
  }
 }
