.a2-gradient-v0 {
  height:100%;
}

.a2-gradient-v1 {
  background: linear-gradient(180deg, #F2EFE5 10%, #FF76A2 33%, #613B38 89%, #613B38 100%); 
  background-size: 100% 600px;
  animation: a2-gradientmove 8s ease infinite;
}

.a2-gradient-v2 {
  background: linear-gradient(180deg, #F2EFE5 0%, #FF76A2 32%, #613B38 83%, #613B38 100%); 
  background-size: 100% 400px;
  animation: a2-gradientmove 8s ease infinite;
}

.a2-gradient-v3 {
  background: linear-gradient(180deg, #FF76A2 32%, #613B38 100%); 
  background-size: 100% 600px;
  animation: a2-gradientmove 4s ease infinite;
}

.a2-gradient-bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background: linear-gradient(180deg, #F2EFE5 25%, #FF76A2 64.9%, #613B38 89.42%);
  background-size: 100% 200%;
  animation: a2-gradientmove 16s ease infinite, bg-fade-in 1s ease;
}

@keyframes bg-fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes a2-gradientmove {
    0% {
        background-position: 0% 0%; 
    }
    50% {
        background-position: 0% 100%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}



@media (max-width: 576px) {
  /*grid displaying/hiding*/
  /* type size */
}

@media (max-width: 768px) {
  /*grid displaying/hiding*/
  .xl-row.rowGridContent{
    height:50%;
  }
  .l-row.rowGridContent{
    height:25%;
  }
  .c3{

    display: none;
  }
  .c4{
    display: none;
  }
  .fix2top{
  position: relative;
  margin-top: 0;
  }  
  /* type size */
}

@media (max-width: 992px) { 
  /*grid displaying/hiding*/
  /* type size */
  .c1{
    display: none;
  }
  .c2{
    display: none;
  }
 }