.a2-gradient-v0 {
  height:100%;
}

.a2-gradient-v1 {
  background: linear-gradient(180deg, #B0D2DE 39%, #F2EFE5 100%); 
  background-size: 100% 600px;
  animation: a2-gradientmove 8s ease infinite;
}

.a2-gradient-v2 {
  background: linear-gradient(180deg, #B0D2DE 39%, #F2EFE5 100%); 
  background-size: 100% 200px;
  animation: a2-gradientmove 4s ease infinite;
}

.a2-gradient-bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background: linear-gradient(180deg, #F2EFE5 25%, #FF76A2 64.9%, #613B38 89.42%);  
  background-size: 100% 200%; 
  animation: a2-gradientmove 16s ease infinite;
}

@keyframes a2-gradientmove {
    0% {
        background-position: 0% 0%; 
    }
    50% {
        background-position: 0% 100%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}