.a2-gradient-v0{
  width:calc(200% - 1.5px);
  height:calc(200% - 1.5px);
}

.a2-gradient-v1{
  width:calc(200% - 1.5px);
  height:calc(200% - 1.5px);
}

.a2-gradient-v2{
  width:calc(200% - 1.5px);
  height:calc(200% - 1.5px);
}

.a2-gradient-v3{
  width:calc(200% - 1.5px);
  height:calc(200% - 1.5px);
}
