.homeCell-content{
    border: 1px solid red;
    position:relative;
}

.lineImage {
    position:absolute;
    top:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.lineImage.doubleHeight {
  height: 200%;
  object-fit: cover;
  object-position: center top;
}

.lineImage-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.col2cell{
    width:51.5%;
}