.a1-gradient-v0 {
  height:100%;
}

.a1-gradient-v1 {
  background: linear-gradient(180deg, #B0D2DE 39%, #F2EFE5 100%); 
  background-size: 100% 600px;
  animation: a1-gradientmove 8s ease infinite;
}

.a1-gradient-v2 {
  background: linear-gradient(180deg, #B0D2DE 39%, #F2EFE5 100%); 
  background-size: 100% 200px;
  animation: a1-gradientmove 4s ease infinite;
}

.a1-gradient-bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background: linear-gradient(180deg, #B0D2DE 50%, #F2EFE5 100%);
  background-size: 100% 200%;
  animation: a1-gradientmove 16s ease infinite, bg-fade-in 1s ease;
}

@keyframes bg-fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes a1-gradientmove {
    0% {
        background-position: 0% 0%; 
    }
    50% {
        background-position: 0% 100%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}