
body{
   height:100vh; 
}

.doink{
  width:100vw;
  height:100%;
  display: flex;
  flex-direction: column;
}
.rectangle-small {
  width: 12px;
  flex-shrink: 0;
}
.rectangle-half {
  width: 25%;
}
.rectangle-full {
  width:100%;
}
.row24px {
  height: 12px;
  width:100%;
  display: flex;
  flex-direction: row;
  gap:0px;
  flex-shrink: 0;

}
.row48px {
  height: 24px;
  width:100%;
  display: flex;
  flex-direction: row;
  gap:0px;
  flex-shrink: 0;
}
.row-eighth {
  height: 12.5%;
  width:100%;
  display: flex;
  flex-direction: row;
  gap:0px;

}
.row-quarter {
  height: 25%;
  width:100%;
  display: flex;
  flex-direction: row;
  gap:0px;
}
.row-half {
  height: 50%;
  width:100%;
  display: flex;
  flex-direction: row;
  gap:0px;
}
.row-full {
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: row;
  gap:0px;
}

.gradient-vertical {
  border: 0.25px solid #332b2b;
  background: linear-gradient(
    180deg,
    #b0d2de 0%,
    #f2efe5 10.58%,
    #ff76a2 22.6%,
    #613b38 30.29%,
    #613b38 36.06%,
    #e7303a 42.79%,
    #dfcdff 57.69%,
    #f2efe5 67.79%,
    #b0d2de 80%,
    #f2efe5 100%
  );
  background-size: 100% 2300px;
}
#gradient-animation-v1 {
  background-size: 100% 2300px;
  -webkit-animation: gradientmove1 30s ease infinite;
  /*-moz-animation: gradientmove1 15s ease infinite;
  animation: gradientmove1 15s ease infinite;*/
}

@-webkit-keyframes gradientmove1 {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 0% 0%;
  }
  40% {
    background-position: 0% 16%;
  }
  60% {
    background-position: 0% 36%;
  }
  80% {
    background-position: 0% 58%;
  }
  100% {
    background-position: 0% 88%; /*should be 89% always for background-position*/
  }
}

#gradient-animation-v2 {
  -webkit-animation: gradientmove2 30s ease infinite;
  /*-moz-animation: gradientmove2 15s ease infinite;
  animation: gradientmove2 15s ease infinite;*/
}

@-webkit-keyframes gradientmove2 {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 0% 6%;
  }
  40% {
    background-position: 0% 28%;
  }
  60% {
    background-position: 0% 48%;
  }
  80% {
    background-position: 0% 58%;
  }
  100% {
    background-position: 0% 89%; /*should be 89% always for background-position*/
  }
}
#gradient-animation-v3 {
  -webkit-animation: gradientmove3 30s ease infinite;
  /*-moz-animation: gradientmove2 15s ease infinite;
  animation: gradientmove2 15s ease infinite;*/
}
@-webkit-keyframes gradientmove3 {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 0% 36%;
  }
  20% {
    background-position: 0% 16%;
  }
  40% {
    background-position: 0% 32%;
  }
  60% {
    background-position: 0% 62%;
  }
  80% {
    background-position: 0% 70%;
  }
  100% {
    background-position: 0% 89%; /*should be 89% always for background-position*/
  }
}

#gradient-animation-v4 {
  -webkit-animation: gradientmove4 30s ease infinite;
  /*-moz-animation: gradientmove2 15s ease infinite;
  animation: gradientmove2 15s ease infinite;*/
}
@-webkit-keyframes gradientmove4 {
  0% {
    background-position: 0% 0%;
  }
  10% {
    background-position: 0% 60%;
  }
  20% {
    background-position: 0% 20%;
  }
  40% {
    background-position: 0% 36%;
  }
  60% {
    background-position: 0% 56%;
  }
  80% {
    background-position: 0% 75%;
  }
  100% {
    background-position: 0% 89%; /*should be 89% always for background-position*/
  }
}
