

.assetAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}


.assetAnimation-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 2000;
}

.assetAnimation-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2000;
}


.wordmarkContainer{
  display:flex;
  justify-content: center;
  align-items: center; 
}

.homeCell-content{
}

.row-center{
  height:100%;
}

.buyticketsbutton{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: auto;
}

.ticketbuttoncontent{
  padding-left:1em;
  padding-top:4px;
  width:100%;
  height:calc(100% - 1px);
  display: flex;
  flex-direction: column;
  gap:0px;
  background-color: var(--off-white);
}
.ticketbuttonheading{
  font-family: var(--font-feature-display-condensed), serif;
  font-size: 2em;
}
.assetshape{
  transform: rotate(90deg);
  height:100%;
}


.homeCell-content.rectangle-full{
  overflow: hidden;
}


.mobile-only{
  display: none;
}

.desktop-only{  
}



@media (max-width: 576px) {
  /*grid displaying/hiding*/

}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 1px;
  }
  .assetAnimation{
    display: none;
  }
  .wordmarkContainer{
    display:none;
  }
  .mobile-only{
    display: block;
  }
  .homeCell-content{
    overflow:visible;
  }
  
  .ticketbuttonheading{
    position:absolute;
    width:200%;
    font-size: 36px;
    top:16px;
  }
  .buyticketsbutton{
    overflow:visible;
  }
  .assetshape{
  }
  .bottomAlignFlex{
    width:100%;
    height:100%;
    display: flex;
    align-items: flex-end;
  }
  .topAlignFlex{
    width:100%;
    height:100%;
    display: flex;
    align-items: flex-start;

  }
  .assetonlybutton{
    width:100%;
    display: flex;
    gap:0px;
    flex-direction: row;
    justify-content: end;
  }
  .desktop-only{
    display: none;
  }
  .content-big-label{
    font-size: 5em;
  }
  .landing >.xl-row.rowGrid{
    height:50%;
  }
  /*grid displaying/hiding*/
 .c3{
    display: none;
  }
  .c4{
    display: none;
  } 

}

@media (max-width: 992px) { 
  /*grid displaying/hiding*/
  /* type size */
 .c1{
    display: none;
  }
  .c2{
    display: none;
  }
 }

 