
.small-small {
}

.small-quarter {
}

.small-half {
}

.half-eighth {
  width: 6.25%;
}

.full-full {
  width: 50%;
}

.assetAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.assetAnimation-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.assetAnimation-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}


.wordmarkContainer{
  display:flex;
  justify-content: center;
  align-items: center; 
  height:100%;
}