
.small-small {
}

.small-quarter {
}

.small-half {

}

.half-eighth {
  width: 6.25%;
}

.full-full {
  width: 50%;
}

.assetAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.assetAnimation-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.assetAnimation-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

.wordmarkAnimation{
  margin-left: auto;
  margin-right: auto;
  width: 57%;
}

.wordmarkContainer{
  position: absolute; 
  display:flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height:100%;
}