
.small-small {
  width: 12px;
  flex-shrink: 0;
}

.small-quarter {
  width: 12px;
    flex-shrink: 0;
}

.small-half {
  width: 12px;
    flex-shrink: 0;

}

.half-eighth {
  width: 50%;

}
.full-full {
  width: 100%;
  flex-basis:100%;
}