
.small-small {
  width: 12px;
  flex-shrink:0;
  overflow: hidden;
}

.small-quarter {
  width: 12px;
    flex-shrink: 0;
}

.small-half {
  width: 12px;
    flex-shrink: 0;

}

.half-eighth {
  width: 32%;
  overflow: hidden;

}

.full-full {
  width: 50%;
  overflow: hidden;

}

.landingAssetAnimation{
  position: absolute; 
  top: 0;
  left: 0;
}

.wordmarkAnimation{
  margin-left: auto;
  margin-right: auto;
  width: 57%;
}

.wordmarkContainer{
  position: absolute; 
  display:flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height:100%;
}