

.assetAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.assetAnimation-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 2000;
}

.assetAnimation-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2000;
}


.wordmarkContainer{
  display:flex;
  justify-content: center;
  align-items: center; 
}

.homeCell-content{
}

.row-center{
  height:100%;
}

.buyticketsbutton{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ticketbuttoncontent{
  padding-left:1em;
  width:100%;
  height:calc(100% - 1px);
  display: flex;
  flex-direction: column;
  gap:0px;
  background-color: var(--off-white);
}
.ticketbuttonheading{
  font-family: var(--font-feature-display-condensed), serif;
  font-size: 2em;
}
.assetshape{
  transform: rotate(90deg);
}


@media (max-width: 576px) {
  /*grid displaying/hiding*/

}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 40px;
  }
  .assetAnimation{
    display: none;
  }


  /*grid displaying/hiding*/
}

@media (max-width: 992px) { 
  /*grid displaying/hiding*/
  /* type size */

 }
