@import "tailwindcss";

@font-face {
  font-family: 'FeatureDisplayCondensed';
  src: local('FeatureDisplayCondensed'), url(../fonts/FeatureDisplayCondensed-Regular-Trial.otf) format('opentype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'FeatureDisplayCondensed';
  src: local('FeatureDisplayCondensed'), url(../fonts/FeatureDisplayCondensed-RegularItalic-Trial.otf) format('opentype');
  font-weight:400;
  font-style: italic;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes
  --off-white:#F2EFE5;
  --dark-brown: #332B2B;
  --gradientAniHoverSpeed: 1s;
>>>>>>> Stashed changes
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-aileron: "aileron", sans-serif; 
  --font-feature-display-condensed: 'FeatureDisplayCondensed', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--dark-brown);
  font-family: "aileron", sans-serif;  
}

h2{
  font-family: var(--font-feature-display-condensed);
  font-size: 48px;
  line-height: 96%;
  letter-spacing: -2%;
}

p{
  font-size: 16px;
  line-height: 14px;
}

.off-white-bg{
  background-color: var(--off-white);
  color: var(--dark-brown);
}


.aileron {
  font-family: var(--font-aileron);
}
  
.aileron.italic {
  font-style: italic;
}

.aileron.bold {
  font-weight: 700;
}

.FeatureDisplayCondensed {
  font-family: var(--font-feature-display-condensed);
}
.FeatureDisplayCondensed.italic {
  font-style: italic;
}

/* Landing gradient animation */
.gradient-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow:0;
<<<<<<< Updated upstream
}

grid-content{
  position: absolute;
  top:0;
=======
>>>>>>> Stashed changes
}

.rectangle-small {
  width: 12px;
  flex-shrink: 0;
  overflow: hidden;
}

.rectangle-half {
  width: 25%;
  flex-grow: 0;
  overflow: hidden;
}

.rectangle-full {
  width: 100%;
<<<<<<< Updated upstream
<<<<<<< Updated upstream


}
.landing-col-s{
    border: 0.25px solid #332b2b;
    width: 12px;
    height:100%;    
    background-color: white;
}
.landing-col-half{
    border: 0.25px solid #332b2b;
    width: 25%;
    height:100%;
    background-color: red;

}
.landing-col-full {
  border: 0.25px solid #332b2b;
  width: 100%;
  height:100%;
  background-color: blue;

=======
=======
>>>>>>> Stashed changes
  overflow: hidden;
}
.rectangle-200 {
  position:relative;
  width: 200%;
  overflow: hidden;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}

.row24px {
  height: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-shrink: 0;
  overflow: hidden;

}

.row48px {
  height: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-shrink: 0;
  overflow: hidden;

}

.row-eighth {
  height: 6.25%;
<<<<<<< Updated upstream
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow: hidden;
}

.row-quarter {
  height: 12.5%;
=======
>>>>>>> Stashed changes
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow: hidden;

}

<<<<<<< Updated upstream
.row-half {
  height: 25%;
=======
.row-quarter {
  height: 12.5%;
>>>>>>> Stashed changes
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-grow: 0;
  overflow: hidden;
}

<<<<<<< Updated upstream
.row-full {
  height: 50%;
=======
.row-half {
  height: 25%;
>>>>>>> Stashed changes
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow: hidden;
}

<<<<<<< Updated upstream
=======
.row-full {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow: hidden;
}

>>>>>>> Stashed changes
.landingCell{
  position:relative;
  border: 0.25px solid #332b2b;
  flex-grow: 0;
}

.gradient-vertical {
  width:100%;
  height:2300px;
  background: linear-gradient(
    180deg,
    #b0d2de 0%,
    #f2efe5 10.58%,
    #ff76a2 22.6%,
    #613b38 30.29%,
    #613b38 36.06%,
    #e7303a 42.79%,
    #dfcdff 57.69%,
    #f2efe5 67.79%,
    #b0d2de 88.15%,
    #f2efe5 100%
  );
  background-size: 100% 2300px;
}

.gradient-animation-v1 {
  animation: gradientmove1 30s ease infinite;
}
#gradient-animation-v1 {
  animation: gradientmove1 30s ease infinite;
}
.r-gradient-animation-v1 {
  animation: gradientmove1 8s ease infinite;
  animation-play-state: paused;
}
.r-gradient-animation-v1:hover {
  animation-play-state: running;
}



@keyframes gradientmove1 {
  0% { transform: translateY(0%); }
  20% { transform: translateY(0%); }
  40% { transform: translateY(-16%); }
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  60% { transform: translateY(-32%); }
  80% { transform: translateY(-58%); }
  100% { transform: translateY(-88%); }
=======
  60% { transform: translateY(-36%); }
  80% { transform: translateY(-88%); }
>>>>>>> Stashed changes
=======
  60% { transform: translateY(-36%); }
  80% { transform: translateY(-88%); }
>>>>>>> Stashed changes
}

.gradient-animation-v2 {
  animation: gradientmove2 30s ease infinite;
}
.r-gradient-animation-v2 {
  animation: gradientmove2 8s ease infinite;
  animation-play-state: paused;
}
.r-gradient-animation-v2:hover {
  animation-play-state: running;
}

@keyframes gradientmove2 {
  0% { transform: translateY(0%); }
  20% { transform: translateY(-6%); }
  40% { transform: translateY(-28%); }
  60% { transform: translateY(-48%); }
  80% { transform: translateY(-58%); }
  100% { transform: translateY(-89%); }
}

.gradient-animation-v3 {
  animation: gradientmove3 30s ease infinite;
}
.r-gradient-animation-v3 {
  animation: gradientmove3 8s ease infinite;
  animation-play-state: paused;
}
.r-gradient-animation-v3:hover {
  animation-play-state: running;
}

@keyframes gradientmove3 {
  0% { transform: translateY(0%); }
  10% { transform: translateY(-36%); }
  20% { transform: translateY(-16%); }
  40% { transform: translateY(-32%); }
  60% { transform: translateY(-62%); }
  80% { transform: translateY(-70%); }
  100% { transform: translateY(-89%); }
}

.gradient-animation-v4 {
  animation: gradientmove4 30s ease infinite;
}
.r-gradient-animation-v4 {
  animation: gradientmove4 8s ease infinite;
  animation-play-state: paused;
}
.r-gradient-animation-v4:hover {
  animation-play-state: running;
}


@keyframes gradientmove4 {
  0% { transform: translateY(0%); }
<<<<<<< Updated upstream
<<<<<<< Updated upstream
  10% { transform: translateY(-6%); }
=======
  10% { transform: translateY(-60%); }
>>>>>>> Stashed changes
=======
  10% { transform: translateY(-60%); }
>>>>>>> Stashed changes
  20% { transform: translateY(-20%); }
  40% { transform: translateY(-36%); }
  60% { transform: translateY(-56%); }
  80% { transform: translateY(-75%); }
  100% { transform: translateY(-89%); }
}


