@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradientAniHoverSpeed: 1s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-aileron: "aileron", sans-serif; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "aileron", sans-serif;  
}

.aileron {
  font-family: var(--font-aileron);
}
  
.aileron.italic {
  font-style: italic;
}

.aileron.bold {
  font-weight: 700;
}

/* Landing gradient animation */
.gradient-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rectangle-small {
  position:relative;
  width: 12px;
  flex-shrink: 0;

}

.rectangle-half {
  position:relative;
  width: 25%;
}

.rectangle-full {
  position:relative;
  width: 100%;

}

.row24px {
  height: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-shrink: 0;
  overflow: hidden;
}

.row48px {
  height: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-shrink: 0;
  overflow: hidden;
}

.row-eighth {
  height: 12.5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow: hidden;

}

.row-quarter {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow: hidden;
}

.row-half {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow: hidden;
}

.row-full {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow: hidden;
}

.landingCell{
  border: 0.25px solid #332b2b;
}

.gradient-vertical {
  width:100%;
  height:2300px;
  background: linear-gradient(
    180deg,
    #b0d2de 0%,
    #f2efe5 10.58%,
    #ff76a2 22.6%,
    #613b38 30.29%,
    #613b38 36.06%,
    #e7303a 42.79%,
    #dfcdff 57.69%,
    #f2efe5 67.79%,
    #b0d2de 80%,
    #f2efe5 100%
  );
}

.gradient-animation-v1 {
  animation: gradientmove1 30s ease infinite;
}
.r-gradient-animation-v1 {
  animation: gradientmove1 var(--gradientAniHoverSpeed) ease infinite;
  animation-direction:reverse;
  animation-play-state: paused;
}
.r-gradient-animation-v1:hover {
  animation-play-state: running;
}


@keyframes gradientmove1 {
  0% { background-position: 0% 0%; }
  20% { background-position: 0% 0%; }
  40% { background-position: 0% 16%; }
  60% { background-position: 0% 36%; }
  80% { background-position: 0% 58%; }
  100% { background-position: 0% 88%; }
}

.gradient-animation-v2 {
  animation: gradientmove2 30s ease infinite;
}
.r-gradient-animation-v2 {
  animation: gradientmove2 var(--gradientAniHoverSpeed) ease infinite;
    animation-direction:reverse;
  animation-play-state: paused;
}
.r-gradient-animation-v2:hover {
  animation-play-state: running;
}

@keyframes gradientmove2 {
  0% { background-position: 0% 0%; }
  20% { background-position: 0% 6%; }
  40% { background-position: 0% 28%; }
  60% { background-position: 0% 48%; }
  80% { background-position: 0% 58%; }
  100% { background-position: 0% 89%; }
}

.gradient-animation-v3 {
  animation: gradientmove3 30s ease infinite;
}
.r-gradient-animation-v3 {
  animation: gradientmove3 var(--gradientAniHoverSpeed) ease infinite;
    animation-direction:reverse;
  animation-play-state: paused;
}
.r-gradient-animation-v3:hover {
  animation-play-state: running;
}

@keyframes gradientmove3 {
  0% { background-position: 0% 0%; }
  10% { background-position: 0% 36%; }
  20% { background-position: 0% 16%; }
  40% { background-position: 0% 32%; }
  60% { background-position: 0% 62%; }
  80% { background-position: 0% 70%; }
  100% { background-position: 0% 89%; }
}

.gradient-animation-v4 {
  animation: gradientmove4 30s ease infinite;
}
.r-gradient-animation-v4 {
  animation: gradientmove4 var(--gradientAniHoverSpeed) ease infinite;
  animation-direction:reverse;
  animation-play-state: paused;
}
.r-gradient-animation-v4:hover {
  animation-play-state: running;
}


@keyframes gradientmove4 {
  0% { background-position: 0% 0%; }
  10% { background-position: 0% 60%; }
  20% { background-position: 0% 20%; }
  40% { background-position: 0% 36%; }
  60% { background-position: 0% 56%; }
  80% { background-position: 0% 75%; }
  100% { background-position: 0% 89%; }
}


