
.countdown{
    color:var(--off-white);
    font-size: 154px;
    font-family: var(--font-feature-display-condensed);
    -webkit-text-stroke: 1px var(--dark-brown);
    letter-spacing: -4px;
    text-align: center;
    z-index: 1000;
}
.teaser-textcontent{
    position: absolute;
    top:0;
    z-index: 100;
    pointer-events: none;
}

.fulltext-gridcell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left:24px;
    padding-right:24px;
    gap: 8px;
    height: 100%;
    width: 100%;
}

.redblock{
    height:100%;
    width: 100%;
    background-color:red;

}